* {
  box-sizing: border-box;
}
body {
  background-color: skyblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*.hr-top {
  brauche ich diesen hr?
  width: 
}*/
.foto-name {
  display: flex;
  align-items: center;
}
.mario-bild {
  border-radius: 50%;
}
.talent-tags-container {
}
.talent-tags {
  border: springgreen solid 1px;
  display: inline;
}
.about-you {
  text-align: left;
}
h1 {
  border: grey solid;
}
p {
  width: 340px;
}
.nav-bar {
  position: fixed;

  left: 50%;
  transform: translate(-50%, -50%);
}
